// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home_feedboxes_wrap{
width:98%;
margin-top:1%;
margin-left:auto;
margin-right:auto;
background-color:white;
box-shadow: 0 0 2px 2px #888;
float:left;
margin-left:1%;
}

#home_frontpagemap{
height:400px; 
width:80%;
margin-top:10px; 
display:inline-block; 
position:relative;
box-shadow: 0 0 2px 2px #888;
}

#home_middle_menu{
width:100%;
margin-left:auto;
margin-right:auto;
background: white;
position:relative;
padding-top:20px;
padding-bottom:20px;
box-shadow: 0 0 2px 2px #888;


background-image: linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -o-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -moz-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -webkit-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -ms-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0, rgb(245,245,245)),
	color-stop(0.67, rgb(255,255,255)),
	color-stop(1, rgb(245,245,245))
);

}

#home_top{
margin-top:50px;
width:100%;
background: url('/assets/home_top_background.png') no-repeat scroll center bottom rgb(67, 67, 67);


padding-top:50px;
padding-bottom:50px;
border-bottom:2px solid gray;
}

#home_top_feeds{
text-align:left;
width:78%;
background:white;
margin-top:25px;
padding-top:20px;
padding-bottom:20px;
padding-left:1%;
padding-right:1%;
box-shadow: 0 0 2px 2px #888;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.home_feed_pic_size{
max-width:50px;
}

.home_top_feeds_titles{
margin:0px;
padding:0px;
display:inline;
margin-left:2%;
}