// Place all the styles related to the identities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#feed_profile_box{
float:left;
padding-bottom:50px;
margin-top:50px;
width:100%;

background-image: linear-gradient(left bottom, rgb(207,199,166) 34%, rgb(194,180,124) 67%, rgb(168,168,134) 100%);
background-image: -o-linear-gradient(left bottom, rgb(207,199,166) 34%, rgb(194,180,124) 67%, rgb(168,168,134) 100%);
background-image: -moz-linear-gradient(left bottom, rgb(207,199,166) 34%, rgb(194,180,124) 67%, rgb(168,168,134) 100%);
background-image: -webkit-linear-gradient(left bottom, rgb(207,199,166) 34%, rgb(194,180,124) 67%, rgb(168,168,134) 100%);
background-image: -ms-linear-gradient(left bottom, rgb(207,199,166) 34%, rgb(194,180,124) 67%, rgb(168,168,134) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.34, rgb(207,199,166)),
	color-stop(0.67, rgb(194,180,124)),
	color-stop(1, rgb(168,168,134))
);

border-bottom:solid 3px gray;

}

#identity_main{
background-color:white;
min-height:200px;
padding-top:4px;
float:left;
width:98%;
margin-left:1%;
margin-top:20px;
//background-color:#777777;

display: inline-block;

border-top-right-radius: 1px;
border-top-left-radius: 1px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;

}

#identity_profile_box_info{
float:left;
width:82%;
}

#identity_show_plate_box_info{
padding:0px;
float:left;
width:100%;
text-align:center;
}

#identity_plate_info_box{
float:left;
width:50%;
margin:1%;
margin-left:25%;
margin-top:3%;

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;

background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.5, rgb(237,237,237)),
	color-stop(1, rgb(255,255,255))
);
}

#identity_plate_sort_box{
float:left;
width:50%;
margin-left:25%;
margin-top:0.5%;

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;

background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(237,237,237) 50%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.5, rgb(237,237,237)),
	color-stop(1, rgb(255,255,255))
);
}


#identity_profile_box_photo{
float:left;
width:13%;
margin:1%;
margin-left:3%;
margin-top:3%;

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;
}

#identity_profile_box_photo_showplate{
float:left;
width:20%;
margin-left:40%;
margin-top:0%;

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;
}

#identity_photo_box_after_resize{
float:left;
width:100%;
border-bottom:solid 1px gray;
}

#identity_feedbox_shadow{
float:right;
width:87%;
margin-right:2%;
margin-bottom:2%;

background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.52, rgb(245,245,245)),
	color-stop(1, rgb(255,255,255))
);

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0px 0px 1px 0px #888;

}

#feedbox {
float:left;
width:100%;
margin-left:0%;
margin-right:auto;

}

#feedbox_content_identity {
float:left;
margin-left:5%;
width:90%;
display: inline-block;
margin-bottom:10px;
}

#userinfo_identity {
float:left;
width:10%;
font-family:Optima;
font-size:20px;
display: inline-block;

background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(245,245,245) 52%, rgb(255,255,255) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.52, rgb(245,245,245)),
	color-stop(1, rgb(255,255,255))
);

border-top-right-radius: 2px;
border-top-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-left-radius: 2px;
-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;
}



#headerboxtext_identity{
float:left;
margin-top:-20px;
width:98%;
margin-left:2%;
}

#profile_plates {
float:left;
width:100%;
display: inline-block;

background-image: linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -o-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -moz-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -webkit-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);
background-image: -ms-linear-gradient(left bottom, rgb(245,245,245) 0%, rgb(255,255,255) 67%, rgb(245,245,245) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0, rgb(245,245,245)),
	color-stop(0.67, rgb(255,255,255)),
	color-stop(1, rgb(245,245,245))
);
box-shadow: 0 0 2px 2px #888;



}

#menuarea{
width:100%;
height:10%;
float:left;
}

#arrow_box{
float:left;
display: inline-block;
width:1%;
margin-top:2.25%;
margin-bottom: -2.5%;
margin-left:3%;
margin-right:2%;

}

#plate_heading_box{
float:left;
display: inline-block;
margin-top:1.7%;
margin-bottom: -1.7%;
width:92%;
}

#myplates{
margin-top:2%;
float:left;
width:90%;
margin-left:10%;
}

#secondaryplates{
margin-top:2%;
margin-top:10px;
float:left;
width:90%;
margin-left:10%;
}

#lastpage_identity{
padding:30px;
padding-right:0px;
padding-left:0px;
float:left;
background-color:white;
width:80%;
margin-left:10%;
margin-top:10px;


border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;

-moz-box-shadow: 0 0 1px 1px #888;
-webkit-box-shadow: 0 0 1px 1px #888;
box-shadow: 0 0 1px 1px #888;
}

.feedtext_identity{
margin:0;
padding:0;
margin-left:2%;
}

.identity_feedtext_logo_and_title{
margin-bottom:1px;
margin-right: 1%;
float:right;
}


.identity_name {
font-size:45px;
margin:0px;
padding:0px;
margin-left:5%;
margin-top:50px;
display: inline-block;
}

.identity_name_showplate {
font-size:60px;
margin:0px;
margin-top:30px;
padding:0px;
margin-left:5%;
display: inline-block;
}

.identity_info {

font-size:13px;
margin:0px;
padding:0px;
margin-left:5%;
margin-top:20px;
}

.identity_resize{
	width:100%;
	max-height:300px;
	float:left;
	display: inline-block;
}

.identity_sortingmethod{
margin-top:30px;
margin-left:2.5%;
margin-right:-1%;
font-weight: 650;
font-size:14px;
display: inline-block;
}

.identity_nearme{
margin-top:0px;
margin-left:2.5%;
margin-right:-1%;
font-weight: 650;
font-size:14px;
display: inline-block;
}

.plates_head {
font-size:15px;
padding:0px;
margin:2px;
margin-bottom:10px;
margin-left:1%;
font-color:gray;
}

.plates_links {
font-weight: 650;
font-size:12px;
margin-left:10px;
}

.submitbutton_identity {
color: rgba(255,255,255,1);
text-decoration: none;
background-color: orange;
font-weight: 500;
font-size: 90%;
margin-left:3%;
padding: 2px;
border-radius: 4px;
margin-top: 10px;
width: 65px;
text-align: center;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0px 4px 0px rgba(250,201,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 4px 0px rgba(250,201,5,1), 0px 9px 25px rgba(0,0,0,.7);

	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	  transition: all .1s ease;
}

.submitbutton_identity_showplate {
    background:none!important;
     border:none;
	color:orange;
     padding:0!important;
	cursor: pointer; 
	cursor: hand;
	font-family: Helvetica;
	 font-size: 14px;
}
