// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searches_search_desc{
color: rgb(67,67,67);
margin:0;
padding: 0;
font-size: 35px;
float: left;
margin-left: 90%;
}

.searches_search_link{
margin:0;
padding: 0;
color: orange;
font-size: 15px;
float: left;
margin-left: 90%;
}
